* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

dl,
dd,
dt {
  margin-right: 0px;
}

.nav {
  width: 100%;
  height: 75px;
}

.nav .connet {
  width: 1420px;
  height: 100%;
  margin: auto;
}

.nav .connet img {
  display: block;
  height: 60px;
  float: left;
  margin-top: 8px;
}

.nav .connet .nav_con {
  float: left;
}

.nav .connet .nav_con li {
  float: left;
}

.nav .connet .nav_con li a {
  padding: 30px 50px;
  line-height: 75px;
  font-size: 18px;
  color: black;
}

.nav .connet .right_con {
  float: right;
}

.nav .connet .right_con img {
  display: block;
  height: 30px;
  margin-top: 23.5px;
  margin-right: 20px;
}

.nav .connet .right_con .btn {
  width: 52px;
  height: 30px;
  border: 1px solid #fa907f;
  color: #fa907f;
  border-radius: 4px;
  margin: 22.5px 5px;
  background-color: white;
}

.footer {
  width: 100%;
  height: 360px;
  background-color: #505050;
}

.footer .footer_con {
  width: 1420px;
  height: 100%;
  background-color: #505050;
  margin: auto;
}

.footer .footer_con p {
  color: #9e9692;
  text-align: left;
  line-height: 22px;
  padding-left: 20px;
  margin-top: 17px;
  font-size: 16px;
}

.footer .footer_con .left_box {
  float: left;
  margin-left: 40px;
  margin-top: 20px;
}

.footer .footer_con .left_box img {
  width: 170px;
  height: 170px;
}

.footer .footer_con .right_box {
  float: left;
  margin-left: 42px;
  margin-top: 23px;
}

.footer .footer_con .right_box dl {
  float: left;
  width: 220px;
  text-align: center;
}

.footer .footer_con .right_box dl img {
  display: block;
  margin: auto;
}

.footer .footer_con .right_box dl dt {
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.footer .footer_con .right_box dl dt a {
  color: white;
}

.footer .footer_con .right_box dl dd {
  line-height: 22px;
  font-size: 14px;
  color: #9e9692;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 68px;
}

.footer .footer_con .right_box dl dd a {
  color: #909281;
}

.footer .bottom {
  text-align: center;
  color: #9e9692;
  font-size: 16px;
  background-color: #505050;
  padding-bottom: 20px;
}

h1 {
  color: white;
}

.banner {
  width: 100%;
  height: 300px;
  position: relative;
}

.banner div img {
  width: 100%;
  height: 300px;
}

.banner .right_text {
  position: absolute;
  top: 0%;
  right: 20%;
  /* width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; */
  width: 0px;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.banner .right_text div {
  margin: 10px 0px;
  color: white;
}

.banner .right_text div a {
  color: white;
}

.banner .right_text .btn_white {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.banner .right_text .btn_white .small_box {
  border-radius: 4px;
  padding: 12px 8px;
  background-color: rgba(255, 255, 255, 0.4);
}

.banner .right_text .re_now {
  margin-top: 20px;
}

.banner .right_text .re_now a {
  padding: 16px 60px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #fe5341;
}

.outer_big_box {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.outer_big_box .inner_big_box {
  width: 1420px;
  height: 100%;
  padding-bottom: 20px;
  margin: auto;
  overflow: hidden;
}

.outer_big_box .inner_big_box .lunbo_check_box {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  background-color: green;
}

.outer_big_box .inner_big_box .lunbo_check_box .inner_small_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 20px;
  float: left;
}

.outer_big_box .inner_big_box .lunbo_check_box .inner_small_box .small_content {
  width: 300px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 12px;
}

.outer_big_box
  .inner_big_box
  .lunbo_check_box
  .inner_small_box
  .small_content
  .index_img_box {
  width: 300px;
  overflow: hidden;
  margin: 0;
}

.outer_big_box
  .inner_big_box
  .lunbo_check_box
  .inner_small_box
  .small_content
  .index_img_box
  a {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.outer_big_box
  .inner_big_box
  .lunbo_check_box
  .inner_small_box
  .small_content
  .index_img_box
  a
  img {
  display: block;
  width: 300px;
}

.outer_big_box
  .inner_big_box
  .lunbo_check_box
  .inner_small_box
  .small_content
  div {
  margin: 4px;
}

.outer_big_box
  .inner_big_box
  .lunbo_check_box
  .inner_small_box
  .small_content
  .index_btn {
  border: 1px solid #fe5341;
  color: #fe5341;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: white;
  margin: 0 10px;
}

.outer_big_box
  .inner_big_box
  .lunbo_check_box
  .inner_small_box
  .small_content
  p
  span {
  color: #fe5341;
}

.outer_big_box .title_to_index {
  display: block;
  width: 1420px;
  margin: auto;
}

.outer_big_box .title_to_index h2 {
  font-weight: 500;
  line-height: 100px;
}

.outer_big_box .row {
  position: absolute;
  cursor: pointer;
}

.outer_big_box .row_left {
  left: 8%;
  top: 44%;
}

.outer_big_box .row_right {
  right: 8%;
  top: 44%;
}

.index_biaoti_out_box {
  width: 100%;
  height: 40px;
  background-color: #f7f7f7;
}

.index_biaoti_out_box .index_biaoti_out_box_inner_box {
  width: 1420px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
}

.index_biaoti_out_box .index_biaoti_out_box_inner_box .biaoti_left {
  margin-left: 42px;
}
.index_biaoti_out_box .index_biaoti_out_box_inner_box .biaoti_left h2 {
  font-weight: 500;
}
.index_biaoti_out_box .index_biaoti_out_box_inner_box .biaoti_right {
  margin-right: 48px;
}

.index_biaoti_out_box .index_biaoti_out_box_inner_box .biaoti_right span {
  margin-right: 10px;
}

.ajax_box {
  width: 1420px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}

.ajax_the_hot .arry_eight_box,
.ajax_the_new .arry_eight_box,
.ajax_the_top .arry_eight_box {
  width: 1420px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
  padding-top: 20px;
  margin: auto;
}

.ajax_the_hot .arry_eight_box .inner_box_small,
.ajax_the_new .arry_eight_box .inner_box_small,
.ajax_the_top .arry_eight_box .inner_box_small {
  width: 266px;
  margin: 20px 44px;
  float: left;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.ajax_the_hot .arry_eight_box .inner_box_small .info_ty,
.ajax_the_new .arry_eight_box .inner_box_small .info_ty,
.ajax_the_top .arry_eight_box .inner_box_small .info_ty {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #fe5341;
  color: white;
  border-radius: 4px 8px 6px 8px;
  padding: 4px 8px;
}

.ajax_the_hot .arry_eight_box .inner_box_small .playNew_top_box,
.ajax_the_new .arry_eight_box .inner_box_small .playNew_top_box,
.ajax_the_top .arry_eight_box .inner_box_small .playNew_top_box {
  width: 280px;
}

.ajax_the_hot .arry_eight_box .inner_box_small .playNew_top_box img,
.ajax_the_new .arry_eight_box .inner_box_small .playNew_top_box img,
.ajax_the_top .arry_eight_box .inner_box_small .playNew_top_box img {
  width: 280px;
}

.ajax_the_hot .arry_eight_box .inner_box_small .playNew_bottom_box,
.ajax_the_new .arry_eight_box .inner_box_small .playNew_bottom_box,
.ajax_the_top .arry_eight_box .inner_box_small .playNew_bottom_box {
  padding: 25px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ajax_the_hot .arry_eight_box .inner_box_small .playNew_bottom_box .h4,
.ajax_the_new .arry_eight_box .inner_box_small .playNew_bottom_box .h4,
.ajax_the_top .arry_eight_box .inner_box_small .playNew_bottom_box .h4 {
  width: 280px;
  margin: 20px 0px;
}

.ajax_the_hot .arry_eight_box .inner_box_small .playNew_bottom_box .des,
.ajax_the_new .arry_eight_box .inner_box_small .playNew_bottom_box .des,
.ajax_the_top .arry_eight_box .inner_box_small .playNew_bottom_box .des {
  margin-top: 6px;
}

.ajax_the_hot .arry_eight_box .inner_box_small .playNew_bottom_box .under_box,
.ajax_the_new .arry_eight_box .inner_box_small .playNew_bottom_box .under_box,
.ajax_the_top .arry_eight_box .inner_box_small .playNew_bottom_box .under_box {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ajax_the_hot
  .arry_eight_box
  .inner_box_small
  .playNew_bottom_box
  .under_box
  .price,
.ajax_the_new
  .arry_eight_box
  .inner_box_small
  .playNew_bottom_box
  .under_box
  .price,
.ajax_the_top
  .arry_eight_box
  .inner_box_small
  .playNew_bottom_box
  .under_box
  .price {
  color: #ff5333;
}

.ajax_the_hot
  .arry_eight_box
  .inner_box_small
  .playNew_bottom_box
  .under_box
  .like_letter,
.ajax_the_new
  .arry_eight_box
  .inner_box_small
  .playNew_bottom_box
  .under_box
  .like_letter,
.ajax_the_top
  .arry_eight_box
  .inner_box_small
  .playNew_bottom_box
  .under_box
  .like_letter {
  color: #bcbcbc;
}

.ajax_the_hot
  .arry_eight_box
  .inner_box_small
  .playNew_bottom_box
  .under_box
  .like_letter
  span,
.ajax_the_new
  .arry_eight_box
  .inner_box_small
  .playNew_bottom_box
  .under_box
  .like_letter
  span,
.ajax_the_top
  .arry_eight_box
  .inner_box_small
  .playNew_bottom_box
  .under_box
  .like_letter
  span {
  margin: 0 4px;
}

.back {
  width: 40px;
  background-color: #bcbcbc;
  height: 60px;
  border-radius: 4px;
  position: fixed;
  bottom: 120px;
  right: 180px;
  padding: 0px 10px;
}

.back img {
  display: block;
  margin: auto;
  padding-top: 25px;
}

.touming {
  animation: touming 3s linear infinite;
}

@keyframes touming {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
a {
  color: black;
}

.rl_btn {
  color: rgb(250, 144, 127);
}
