.content_box {
    .title {
        text-align: center;
        margin-top: 40px;

        h1 {
            font-size: 30px;
            font-weight: 500;
            color: black;
        }
    }

    .fu_title {
        width: 400px;
        height: 40px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        align-items: center;

        div a {
            padding: 10px 30px;
            color: rgb(180, 175, 170);
        }
    }


    .text_ajax_content_box {
        width: 100%;
        // height: max-content;
        height: max-content;
        background-color: rgb(247, 247, 247);

        .ajax_box {
            width: 1420px;
            height: max-content;
            // position: absolute;
            margin: auto;
        }

        .ajax_the_new,
        .ajax_the_hot {
            // background-color: green;

            .arry_eight_box {
                width: 1420px;
                height: max-content;
                overflow: hidden;
                padding-top: 20px;

                .inner_box_small {
                    width: 280px;
                    margin: 20px 37px;
                    float: left;
                    background-color: white;
                    border-radius: 8px;
                    overflow: hidden;

                    .playNew_top_box {
                        width: 280px;

                        img {
                            width: 280px;
                        }
                    }

                    .playNew_bottom_box {
                        padding: 25px 14px;
                        display: flex;
                        flex-direction: column;

                        .h4 {
                            width: 280px;
                            margin: 20px 0px;
                        }

                        .des {
                            margin-top: 6px;
                        }

                        .under_box {
                            margin-top: 20px;
                            display: flex;
                            justify-content: space-between;

                            .price {
                                color: rgb(255, 83, 51);
                            }

                            .like_letter {
                                color: rgb(188, 188, 188);

                                span {
                                    margin: 0 4px;
                                }
                            }
                        }
                    }


                }
            }


        }

        .more_down {
            width: 100%;
            padding: 40px 0;


            span {
                display: block;
                width: max-content;
                margin: 10px auto;
                color: rgb(255, 83, 51);
            }

            img {
                margin-right: 8px;
            }
        }
    }

}


.pin_out_box {
    width: 1420px;
    height: max-content;
    margin: 40px;
    background-color: white;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 8px;
    overflow: hidden;

    h3 {
        line-height: 60px;

        span {
            display: block;
            margin-top: 20px;
            width: 10px;
            height: 30px;
            background-color: rgb(255, 83, 51);
            float: left;
        }

        p {
            margin-left: 50px;
            padding-top: 5px;
        }
    }

    .pin_show {
        width: 100%;
        height: max-content;

        div {
            width: 180px;
            height: 180px;
            margin: 10px 20px;
            // background-color: pink;
            float: left;
            text-align: center;

            img {
                display: block;
                margin: auto;
                margin-top: 20px;
            }

            a,
            span {
                color: rgb(177, 177, 177);
            }
        }
    }

    .pin_under {
        float: left;
        width: 1940px;
        border-top: 2px dashed rgb(238, 238, 238);
        padding-top: 20px;
        margin-bottom: 20px;

        .pin_bottom {
            width: 200px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            float: left;

            a,
            span {
                color: rgb(177, 177, 177);
            }
        }
    }

}